In [1]:
# Data manipulation
import pandas as pd # to import csv and for data manipulation
import matplotlib.pyplot as plt # to plot graph
import seaborn as sns # for intractve graphs
import numpy as np # for linear algebra
# import pandas_profiling as pp
import datetime # to dela with date and time
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
import platform; print(platform.platform())
import sys; print("Python", sys.version)
import numpy; print("NumPy", numpy.__version__)
import scipy; print("SciPy", scipy.__version__)
import sklearn; print("Scikit-Learn", sklearn.__version__)

Linux-5.3.0-40-generic-x86_64-with-debian-buster-sid
Python 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]
NumPy 1.18.1
SciPy 1.4.1
Scikit-Learn 0.20.3

In [17]:
confirm = pd.read_csv('../app/data/confirm.csv')
recover = pd.read_csv('../app/data/recover.csv')
death = pd.read_csv('../app/data/death.csv')

# confirm = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
# recover = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')
# death = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')

In [22]:
confirm.head().T.index

Index(['Unnamed: 0', 'Province/State', 'Country/Region', 'Lat', 'Long',
       '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
       '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
       '3/13/20'],
      dtype='object')

In [34]:
confirm.iloc[:,5:].sum().values

array([   555,    653,    941,   1434,   2118,   2927,   5578,   6166,
         8234,   9927,  12038,  16787,  19881,  23892,  27635,  30817,
        34391,  37120,  40150,  42762,  44802,  45221,  60368,  66885,
        69030,  71224,  73258,  75136,  75639,  76197,  76823,  78579,
        78965,  79568,  80413,  81395,  82754,  84120,  86011,  88369,
        90306,  92840,  95120,  97882, 101784, 105821, 109795, 113561,
       118592, 125865, 128343, 145193])

In [7]:
recover.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,413,474,539,597,637,663,712,744,792,821
1,Beijing,Mainland China,40.1824,116.4142,0,0,1,2,2,2,...,145,153,169,178,189,198,215,235,248,257
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,274,299,316,328,335,349,372,384,401,422
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,112,126,149,162,170,183,199,218,228,235
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,65,71,76,76,78,80,80,81,81,82

In [8]:
death.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20
0,Anhui,Mainland China,31.8257,117.2264,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
1,Beijing,Mainland China,40.1824,116.4142,0,0,0,0,0,1,...,4,4,4,4,4,4,4,4,5,7
2,Chongqing,Mainland China,30.0572,107.8740,0,0,0,0,0,0,...,5,6,6,6,6,6,6,6,6,6
3,Fujian,Mainland China,26.0789,117.9874,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1
4,Gansu,Mainland China,36.0611,103.8343,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [23]:
confirm_info = confirm.ix[:,0:4]

In [37]:
confirm_last = confirm.ix[:,-1]

In [26]:
confirm.shape

(114, 42)

In [38]:
confirm_info['latest'] = confirm_last

In [44]:
confirm_info['latest'].sum()

84124

In [45]:
"{:,.0f}".format(confirm_info['latest'].sum())

'84,124'

In [42]:
def getLatest(df):
    df_info = df.ix[:,0:4]
    df_last = df.ix[:,-1]
    df_info['latest'] = df_last
    
    return df_info

In [43]:
getLatest(confirm)

,Province/State,Country/Region,Lat,Long,latest
0,Anhui,Mainland China,31.82570,117.2264,990
1,Beijing,Mainland China,40.18240,116.4142,410
2,Chongqing,Mainland China,30.05720,107.8740,576
3,Fujian,Mainland China,26.07890,117.9874,296
4,Gansu,Mainland China,36.06110,103.8343,91
5,Guangdong,Mainland China,23.34170,113.4244,1348
6,Guangxi,Mainland China,23.82980,108.7881,252
7,Guizhou,Mainland China,26.81540,106.8748,146
8,Hainan,Mainland China,19.19590,109.7453,168
9,Hebei,Mainland China,38.04280,114.5149,318
10,Heilongjiang,Mainland China,47.86200,127.7615,480
11,Henan,Mainland China,33.88202,113.6140,1272
12,Hubei,Mainland China,30.97560,112.2707,65914
13,Hunan,Mainland China,27.61040,111.7088,1017
14,Inner Mongolia,Mainland China,44.09350,113.9448,75
15,Jiangsu,Mainland China,32.97110,119.4550,631
16,Jiangxi,Mainland China,27.61400,115.7221,935
17,Jilin,Mainland China,43.66610,126.1923,93
18,Liaoning,Mainland China,41.29560,122.6085,121
19,Ningxia,Mainland China,37.26920,106.1655,72
20,Qinghai,Mainland China,35.74520,95.9956,18
21,Shaanxi,Mainland China,35.19170,108.8701,245
22,Shandong,Mainland China,36.34270,118.1498,756
23,Shanghai,Mainland China,31.20200,121.4491,337
24,Shanxi,Mainland China,37.57770,112.2922,133
25,Sichuan,Mainland China,30.61710,102.7103,538
26,Tianjin,Mainland China,39.30540,117.3230,136
27,Tibet,Mainland China,31.69270,88.0924,1
28,Xinjiang,Mainland China,41.11290,85.2401,76
29,Yunnan,Mainland China,24.97400,101.4870,174
...,...,...,...,...,...
84,Unassigned Location (From Diamond Princess),US,35.44370,139.6380,44
85,NaN,Oman,21.00000,57.0000,4
86,NaN,Afghanistan,33.00000,65.0000,1
87,NaN,Bahrain,26.02750,50.5500,36
88,NaN,Kuwait,29.50000,47.7500,45
89,NaN,Algeria,28.03390,1.6596,1
90,NaN,Croatia,45.10000,15.2000,5
91,NaN,Switzerland,46.81820,8.2275,8
92,NaN,Austria,47.51620,14.5501,3
93,NaN,Israel,31.00000,35.0000,4
94,NaN,Pakistan,30.37530,69.3451,2
95,NaN,Brazil,-14.23500,-51.9253,1
96,NaN,Georgia,42.31540,43.3569,1
97,NaN,Greece,39.07420,21.8243,4
98,NaN,North Macedonia,41.60860,21.7453,1
99,NaN,Norway,60.47200,8.4689,6
100,NaN,Romania,45.94320,24.9668,3
101,NaN,Denmark,56.26390,9.5018,1
102,NaN,Estonia,58.59530,25.0136,1
103,NaN,Netherlands,52.13260,5.2913,1
104,NaN,San Marino,43.94240,12.4578,1
105,NaN,Azerbaijan,40.14310,47.5769,1
106,NaN,Belarus,53.70980,27.9534,1
107,"Montreal, QC",Canada,45.50170,-73.5673,1
108,NaN,Iceland,64.96310,-19.0208,1
109,NaN,Lithuania,55.16940,23.8813,1
110,NaN,Mexico,23.63450,-102.5528,1
111,NaN,New Zealand,-40.90060,174.8860,1
112,NaN,Nigeria,9.08200,8.6753,1
113,NaN,North Ireland,54.78770,-6.4923,1

In [2]:
import tweepy

In [3]:
API_KEY = 'ZFnnoIcZUusgB4O9JULAYDHBG'
API_SECRET_KEY = 'lvoUVe4XQ7lf0nuBsZVbrazBg7RKwInqDXFSKQxqi0Q80uhOCw'
ACCESS_TOKEN = '409802626-MlmHNIC1W1INQu6tG1fzj7TSdTg7defRrNWlepwF'
ACCESS_TOKEN_SECRET = 'ULtks3TDGEmiM2yLtq411yy3mQb7Lt95uLBBX5HrWGbq0'

In [4]:
# OAuth process, using the keys and tokens
auth = tweepy.OAuthHandler(API_KEY, API_SECRET_KEY)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

In [5]:
api = tweepy.API(auth)

In [6]:
user = api.me()

In [8]:
user.name

'Solomon Igori'

In [13]:
search = tweepy.Cursor(api.search, q="Coronavirus", result_type="recent", lang="en").items(10)

In [14]:
search

In [15]:
for item in search:
    print (item.text)

if you listen to gulch ur immune to coronavirus
RT @paxthedog: I’m still not entirely sure how to process the “coronavirus prevention is actually cultural appropriation” absolute miracle…
RT @CuomoPrimeTime: Former Democratic Sen. Al Franken on coronavirus says we need to talk "about Donald Trump and how awful he is as not ju…
RT @ResisterChic: Resident Dies In Matt Gaetz's District After He Mocked Coronavirus

Like tRUMP this guy ain’t just a pr*ck he’s the whole…
If you're wondering why
there are 50 deaths, 50 yesterday in South Korea
and in Italy there were 264 and today is 3… https://t.co/0JiZ8KWR8o
RT @mredwards: I've heard that coronavirus is going to cause a massive shortage of books, which will be essential when we're all stuck at h…
RT @henrikenderlein: Coronavirus: Is the outbreak in Italy really *so different* from the outbreak in Germany (as suggested by many)? For w…
RT @BillKristol: "White House officials are...frustrated at...Trump's consistent bids to downplay the severity of the outbreak."
A crazy id…
RT @maggieNYT: Here’s the story potus wasn’t happy with on the behind the scenes of decision-making on what to tell the public about corona…
RT @BernieSanders: Once a vaccine for coronavirus is developed, it should be free.

In [12]:
print(search)

<tweepy.cursor.ItemIterator object at 0x7efd0f7845f8>